.navbar-nav a{
    font-size: 20px;
}

.ahmed img {
    height: 100vh;
    background-position: center;
    background-size: cover;


}

.hero hr{
    font-size:2%;
}

.medo a{
    margin-right: 5px;
    font-size: 11px;
}


